# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
variables:
  ANSIBLE_CALLBACK_RESULT_FORMAT: "yaml"
  ANSIBLE_DEFAULT_VERBOSITY: "1"
  ANSIBLE_DIFF_ALWAYS: "1"
  ANSIBLE_DISPLAY_SKIPPED_HOSTS: "0"
  ANSIBLE_FORCE_COLOR: "1"
  ANSIBLE_INJECT_FACT_VARS: "0"
  ANSIBLE_NOCOWS: "1"
  ANSIBLE_REMOTE_TMP: "/tmp"
  ANSIBLE_ROLES_PATH: "${CI_PROJECT_DIR}/..:~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles"
  ANSIBLE_SHELL_ALLOW_WORLD_READABLE_TEMP: "1"
  DEBIAN_FRONTEND: noninteractive
  MOLECULE_VERBOSITY: "0"
  PATH: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  PRE_COMMIT_COLOR: always
  PY_COLORS: "1"
  USER: "root"
before_script:
  - whoami
  - pwd
  - chmod 700 $(pwd)
  - which ansible
  - ansible --version
  - which yamllint
  - yamllint --version
  - which molecule
  - molecule --version
  - which jc
  - jc --version
  - ansible-galaxy collection list
  - ansible-galaxy role list
stages:
  - lint
  - bookworm
  # the php role doesn't support forky
  # - forky
  # the php role doesn't support noble
  # - noble
  - trixie
lint:
  image: registry.git.coop/webarch/containers/images/trixie:20260123
  stage: lint
  script:
    - pre-commit install
    - pre-commit run --all-files
bookworm:
  image: registry.git.coop/webarch/containers/images/bookworm:20260123
  stage: bookworm
  script:
    - molecule test
# forky:
#   image: registry.git.coop/webarch/containers/images/forky:20260123
#   stage: forky
#   script:
#     - molecule test
trixie:
  image: registry.git.coop/webarch/containers/images/trixie:20260123
  stage: trixie
  script:
    - molecule test
# noble:
#   image: registry.git.coop/webarch/containers/images/noble:20260123
#   stage: noble
#   script:
#     - molecule test
...
