# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Apache un-chrooted
  block:

    # TODO Stop Apache?

    - name: /var/www chroot directories unmounted for Apache
      ansible.builtin.include_tasks: umount.yml
      vars:
        users_mount_path: "{{ users_chroot_users_dir }}/www-data/var/www/{{ dir }}"
      loop: "{{ users_apache_chroot_mount_dirs }}"
      loop_control:
        loop_var: dir
        label: "{{ dir }}"
      when: ( users_apache_chroot_mount_dirs is defined ) and ( users_apache_chroot_mount_dirs != [] )

    - name: Chroot directories unmounted for Apache
      ansible.builtin.include_tasks: umount.yml
      loop:
        - "{{ users_chroot_users_dir }}/www-data/usr/lib/apache2"
        - "{{ users_chroot_users_dir }}/www-data{{ users_basedir }}"
        - "{{ users_chroot_users_dir }}/www-data{{ chroot_users_dir }}"
        - "{{ users_chroot_users_dir }}/www-data/run/apache2"
        - "{{ users_chroot_users_dir }}/www-data/run/chroot"
        - "{{ users_chroot_users_dir }}/www-data/run/mysqld"
        - "{{ users_chroot_users_dir }}/www-data/run/php"
        - "{{ users_chroot_users_dir }}/etc/apache2/md"
        - "{{ users_chroot_users_dir }}/www-data"
      loop_control:
        loop_var: users_mount_path
        label: "{{ users_mount_path | ansible.builtin.basename }}"

    - name: Apache chroot mounts absent from /etc/fstab
      ansible.builtin.blockinfile:
        path: /etc/fstab
        state: absent
        marker: "# {mark} APACHE CHROOT"
      register: users_apache_fstab_chroot

    - name: Systemd daemon-reload  # noqa: no-handler
      ansible.builtin.systemd_service:
        daemon_reload: true
      when: users_apache_fstab_chroot.changed | bool

  tags:
    - users
...
