# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Apache configuration
  block:

    - name: Check loaded Apache modules
      block:

        - name: Register the loaded Apache modules
          ansible.builtin.command: a2query -m
          check_mode: false
          changed_when: false
          register: users_apache_modules_check

      rescue:

        - name: No mods enabled
          ansible.builtin.set_fact:
            users_apache_modules_loaded: []
          when: ( "No module matches" in users_apache_modules_check.stderr )

    - name: Set an array of loaded Apache modules
      block:

        - name: Debug the loaded modules
          ansible.builtin.debug:
            var: users_apache_modules_check.stdout_lines
            verbosity: 3
          tags:
            - debug

        - name: Set an array of the loaded modules
          ansible.builtin.set_fact:
            users_apache_modules_loaded: >-
              {{- users_apache_modules_check.stdout_lines | map('ansible.builtin.regex_replace', '[ ].*$') | sort -}}

      when:
        - users_apache_modules_check.stdout is defined
        - users_apache_modules_check.stderr | length == 0

    - name: Debug loaded modules
      ansible.builtin.debug:
        var: users_apache_modules_loaded
        verbosity: 3
      tags:
        - debug

    - name: Check that Apache suexec is enabled when users_apache_chroot_suexec is true
      ansible.builtin.assert:
        that:
          - ( "suexec" in users_apache_modules_loaded )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
      when: users_apache_chroot_suexec

    - name: Check that Apache proxy_fcgi is enabled when users_phpfpm is true
      ansible.builtin.assert:
        that:
          - ( "proxy_fcgi" in users_apache_modules_loaded )
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
      when: users_phpfpm

    - name: Include the tasks to check the running Apache config
      ansible.builtin.include_tasks: apache_cfg.yml

    - name: Apache chroot present configuration
      ansible.builtin.include_tasks: apache_chroot_present.yml
      when:
        - ( users_apache_chroot is defined ) and ( users_apache_chroot )
        - ( users_apache_chroot_dir is defined )

    - name: Apache chroot absent configuration
      ansible.builtin.include_tasks: apache_chroot_absent.yml
      when:
        - ( users_apache_chroot_remove is defined ) and ( users_apache_chroot_remove )
        - ( users_apache_chroot is defined ) and ( not users_apache_chroot )

    - name: Users Apache logrotation config in place
      ansible.builtin.template:
        src: apache_users_logrotate.j2
        dest: /etc/logrotate.d/apache_users_logrotate
        owner: root
        group: root
        mode: "0644"

    - name: Check Apache logrotation config exists
      ansible.builtin.stat:
        path: /etc/logrotate.d/apache_users_logrotate
      register: users_apache_logrotate

    - name: Chreck and run the Apache logrotation
      block:

        - name: Check Apache logrotation config
          ansible.builtin.command: /usr/sbin/logrotate -d /etc/logrotate.d/apache_users_logrotate
          check_mode: false
          changed_when: false

        - name: Run Apache logrotation config
          ansible.builtin.command: /usr/sbin/logrotate -v /etc/logrotate.d/apache_users_logrotate
          register: users_apache_logrotate_run
          changed_when:
            - ( "not running prerotate script, since no logs will be rotated" not in users_apache_logrotate_run.stderr )
            - ( "not running postrotate script, since no logs were rotated" not in users_apache_logrotate_run.stderr )

      when: users_apache_logrotate.stat.exists | bool

    - name: Cron job to delete Apache logs when older than 30 days
      ansible.builtin.cron:
        name: Delete Apache log files
        hour: "0"
        minute: "0"
        day: "1"
        job: /usr/bin/find /var/log/apache2/ -mtime +30 -exec  rm {} \;

    - name: Apache bandwith usage cron task to email address set using users_apache_bandwidth_email present
      ansible.builtin.cron:
        name: "Email monthly Apache bandwidth"
        hour: "1"
        minute: "0"
        day: "1"
        job: "/usr/local/bin/apache_data_usage_by_user {{ users_apache_bandwidth_email }}"
      when: ( users_apache_bandwidth_email is defined ) and ( users_apache_bandwidth_email | length > 0 )

  tags:
    - users
...
