---
- name: Slay installed
  apt:
    pkg: slay
    state: present

- name: Check /etc/debian_version
  shell: "lsb_release -c | awk '{ print $2 }'"
  register: users_debian_version_check
  check_mode: false
  changed_when: false
  tags:
    - users-update

- name: Set a fact for the Debian version
  set_fact:
    users_debian_version: "{{ users_debian_version_check.stdout }}"
  tags:
    - users-update

- name: Load package information as facts
  package_facts:
    manager: apt
  tags:
    - apache
    - users-update

- name: Check if php-fpm is installed
  shell: "dpkg -s php{% if users_debian_version == 'stretch' %}7.0{% elif users_debian_version == 'buster' %}7.3{% elif users_debian_version == 'bionic' %}7.2{% endif %}-fpm | grep ^Status | awk '{ print $4 }'"
  register: users_phpfpm_status
  changed_when: false
  tags:
    - users-update

- name: php-fpm variable set
  block:

    - name: Print the users_phpfpm_status
      debug:
        msg: "users_phpfpm_status: {{ users_phpfpm_status.stdout }}"
        verbosity: 1
      tags:
        - users-update

    - name: Set a fact for the PHP-FPM version
      set_fact:
        users_phpfpm_version: "{% if users_debian_version == 'stretch' %}7.0{% elif users_debian_version == 'buster' %}7.3{% elif users_debian_version == 'bionic' %}7.2{% endif %}"
      when: users_phpfpm_status.stdout == "installed"
      tags:
        - users-update

  when: ( users_phpfpm_status is defined ) and ( users_phpfpm_status != "" )

- name: Check if a chroot exists
  stat:
    path: "{{ chroot_dir | default('/chroot') }}"
  register: users_chroot_dir
  tags:
    - users-update

- name: Packages present
  apt:
    pkg:
      - vim
    state: present
    update_cache: true

- name: Skel profiles included
  include_tasks: "skel_{{ users_skeleton }}.yml"
  loop:
    - www
  loop_control:
    loop_var: users_skeleton

# Quota tasks
- block:

    - name: "Touch {{ quota_dir }}/quota_user.csv"
      file:
        path: "{{ quota_dir }}/quota_user.csv"
        state: touch
        access_time: preserve
      tags:
        - users-update

    - name: "Get the md5sum of {{ quota_dir }}/quota_user.csv"
      command: "md5sum {{ quota_dir }}/quota_user.csv"
      register: users_repquota_md5sum_before
      changed_when: false
      when: quota_dir is defined
      tags:
        - users-update

    - name: "Users quotas written to {{ quota_dir }}/quota_user.csv and md5sum printed"
      shell: "repquota {{ quota_dir }}  --output=csv > {{ quota_dir }}/quota_user.csv ; chmod 600 {{ quota_dir }}/quota_user.csv ; md5sum {{ quota_dir }}/quota_user.csv"
      register: users_repquota_md5sum_after
      changed_when: users_repquota_md5sum_before.stdout != users_repquota_md5sum_after.stdout
      tags:
        - users-update

    - name: Users quotas fetched
      fetch:
        src: "{{ quota_dir }}/quota_user.csv"
        dest: /tmp/
      tags:
        - users-update

  when: quota_dir is defined

# Delete users
- block:

    - name: Slay any processes running as the user
      command: "slay {{ item.key }}"
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

    - name: Include the chroot absent users tasks
      include_tasks: chroot_users_absent.yml
      loop: "{{ users | dict2items }}"
      when: ( users_chroot_dir.stat.exists ) and ( item.value.users_state is defined and item.value.users_state == "absent" ) or ( "chroot" not in item.value.users_groups )
      tags:
        - users-update

    - name: Include Apache config tasks absent users
      include_tasks: apache_users_absent.yml
      loop: "{{ users | dict2items }}"
      when: '"apache2" in ansible_facts.packages'
      tags:
        - users-update
        - apache

    - name: Absent users MariaDB account and databases absent
      include_tasks: mariadb_user_absent.yml
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

    - name: Absent users home directories removed
      file:
        path: "{{ item.value.users_home | default('/home/' + item.key) }}"
        state: absent
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

    - name: Users accounts absent
      user:
        name: "{{ item.key }}"
        state: absent
        remove: true
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

    - name: User groups absent
      group:
        name: "{{ item.key }}"
        state: absent
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

  when: item.value.users_state is defined and item.value.users_state == "absent"

# Add users
- name: User groups present
  include_tasks: groups.yml
  loop: "{{ users | dict2items }}"
  loop_control:
    loop_var: users_groups_user
  when: ( users_groups_user.value.users_state is undefined or users_groups_user.value.users_state == "present" ) and ( users_groups_user.value.users_groups is defined )
  tags:
    - users-update

- block:

    - name: User group present
      group:
        name: "{{ item.key }}"
        state: present
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

    - name: Users group members present
      include: group_members.yml
      loop: "{{ users | dict2items }}"
      when: ( item.value.users_group_members is defined ) and ( item.value.users_group_members != [] )
      tags:
        - users-update

    - name: User accounts present
      include_tasks: user.yml
      loop: "{{ users | dict2items }}"
      tags:
        - users-update

    - name: Users MariaDB accounts and databases created and passwords read or set
      include_tasks: mariadb_user_present.yml
      vars:
      loop: "{{ users | dict2items }}"
      when: ( item.value.users_mariadb_databases is defined ) and ( item.value.users_mariadb_databases != [] )
      tags:
        - users-update

    - name: Quotas set
      include_tasks: quota.yml
      loop: "{{ users | dict2items }}"
      when: ( quota_dir is defined ) and ( item.value.users_quota is defined ) and ( item.value.users_quota != "" )
      tags:
        - users-update

    - name: Set passwds and notify users
      include_tasks: notify_passwd.yml
      loop: "{{ users | dict2items }}"
      when: ( item.value.users_notify_passwd is defined ) and ( item.value.users_notify_passwd == True ) and ( item.value.users_email is defined ) and ( item.value.users_email != "" )
      tags:
        - users-update

  when: ( item.value.users_state is undefined ) or ( item.value.users_state == "present" )

# Users quota CSV file updated
- block:

    - name: "Updated users quotas written to {{ quota_dir }}/quota_user.csv and md5sum printed"
      shell: "repquota {{ quota_dir }}  --output=csv > {{ quota_dir }}/quota_user.csv ; chmod 700 {{ quota_dir }}/quota_user.csv ; md5sum {{ quota_dir }}/quota_user.csv"
      register: users_repquota_md5sum_after
      changed_when: users_repquota_md5sum_before.stdout != users_repquota_md5sum_after.stdout
      tags:
        - users-update

    - name: Updated users quotas fetched
      fetch:
        src: "{{ quota_dir }}/quota_user.csv"
        dest: /tmp/
      when: users_repquota_md5sum_after.changed
      tags:
        - users-update

  when: quota_dir is defined

- name: Email address in .forward
  template:
    src: templates/forward.j2
    dest: "{{ item.value.users_home | default('/home/' + item.key) }}/.forward"
    owner: "{{ item.key }}"
    group: "{{ item.key }}"
    mode: 0644
  loop: "{{ users | dict2items }}"
  when: ( item.value.users_state is undefined or item.value.users_state == "present" ) and ( item.value.users_email is defined and item.value.users_email != "" )
  tags:
    - users-update

- name: Email address or user absent so no .forward
  file:
    path: "{{ item.value.users_home | default('/home/' + item.key) }}/.forward"
    state: absent
  loop: "{{ users | dict2items }}"
  when: ( item.value.users_state is defined and item.value.users_state == "absent" ) or ( item.value.users_email is not defined or item.value.users_email == "" )
  tags:
    - users-update

# Chroot users
- block:

    - name: Include the chroot present users tasks
      include_tasks: chroot_users_present.yml
      loop: "{{ users | dict2items }}"
      when: ( item.value.users_state is undefined or item.value.users_state == "present" ) and ( "chroot" in item.value.users_groups )
      tags:
        - users-update

    - name: Include the PHP FPM chroot tasks
      include_tasks: phpfpm_chroot.yml
      when: ( users_phpfpm_status is defined ) and ( users_phpfpm_status.stdout == "installed" )
      tags:
        - users-update

  when: users_chroot_dir.stat.exists

# Matomo user accounts
- name: Matomo login account tasks
  block:

    - name: "Check if the Matomo {{ matomo_user }} system user account exists"
      command: "id {{ matomo_user }}"
      ignore_errors: true
      check_mode: false
      register: user_matomo_user_check
      changed_when: '"no such user" in user_matomo_user_check.stderr'
      tags:
        - matomo
        - users-update

    - name: Matomo user login account tasks
      block:

        - name: Check if Matomo config file exists
          stat:
            path: "{{ matomo_html }}/config/config.ini.php"
          check_mode: false
          register: user_matomo_config
          tags:
            - matomo
            - users-update

        - name: If Matomo is installed
          block:

            - name: Matomo accounts for users absent
              include_tasks: matomo_users_absent.yml
              loop: "{{ users | dict2items }}"
              when: ( matomo_user is defined ) and ( item.value.users_state is defined ) and ( item.value.users_state == "absent" )
              tags:
                - matomo
                - users-update

            - name: Matomo accounts for users present
              include_tasks: matomo_users_present.yml
              loop: "{{ users | dict2items }}"
              when: ( item.value.users_state is not defined ) or ( item.value.users_state == "present" )
              tags:
                - matomo
                - users-update

          when: user_matomo_config.stat.exists

      when: ( user_matomo_user_check is defined ) and ( "no such user" not in user_matomo_user_check.stderr )

  when: ( matomo_user is defined ) and ( matomo_user != "" )

# Apache config for users present
- block:

    - name: Include Apache config tasks present users
      include_tasks: apache_users_present.yml
      loop: "{{ users | dict2items }}"
      when: ( item.value.users_apache_virtual_hosts is defined ) and ( item.value.users_state is not defined or item.value.users_state == "present" )
      tags:
        - users-update
        - apache

    - name: Apache configtest
      command: apachectl configtest
      register: users_apachectl_configtest
      changed_when: '"Syntax OK" not in users_apachectl_configtest.stderr'
      tags:
        - users-update
        - apache

    - name: Apache restart
      service:
        name: apache2
        state: restarted
      when: '"Syntax OK" in users_apachectl_configtest.stderr'
      tags:
        - users-update
        - apache

  when: '"apache2" in ansible_facts.packages'
