# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: "MariaDB databases and account absent for {{ user.key }}"
  block:

    - name: "The databases that {{ user.key }} has access to"
      ansible.builtin.command: mysql -B -N -e "SELECT Db FROM mysql.db WHERE User='{{ user.key }}';" mysql
      register: users_mariadb_list

    - name: "Databases absent for {{ user.key }}"
      community.mysql.mysql_db:
        name: "{{ db }}"
        state: absent
        login_user: root
        login_unix_socket: /var/run/mysqld/mysqld.sock
      loop: "{{ users_mariadb_list.stdout_lines }}"
      when:
        - users_mariadb_list.stdout_lines is defined
        - users_mariadb_list.stdout_lines != []
      loop_control:
        loop_var: db
        label: "{{ db }}"

    - name: "MariaDB user {{ user.key }} absent"
      community.mysql.mysql_user:
        name: "{{ user.key }}"
        state: absent
        column_case_sensitive: true
        login_user: root
        login_unix_socket: /var/run/mysqld/mysqld.sock

  tags:
    - users
...
