# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Matomo user present
  block:

    - name: Set a fact for the Matomo users PHP version
      ansible.builtin.set_fact:
        users_matomo_php_version: "{{ users | community.general.json_query(users_matomo_php_version_jpq) | string }}"
      vars:
        users_matomo_php_version_jpq: '["{{ matomo_user }}"]|[0].users_phpfpm_version'

    - name: Check that the Matomo users PHP version is available
      ansible.builtin.assert:
        that:
          - users_matomo_php_version is regex('^[0-9]{1,2}[.][0-9]{1,2}$')
          - users_matomo_php_version in users_phpfpm_versions
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"

    - name: Include user_present tasks from Matomo role
      ansible.builtin.include_role:
        name: matomo
        tasks_from: user_present.yml
      vars:
        matomo_login: "{{ user.key }}"
        matomo_login_email: "{{ user.value.users_email }}"
        matomo_login_home: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}"
        matomo_notify_passwd: "{{ user.value.users_matomo_notify_passwd | default(true) }}"
        matomo_notify_from: "{{ users_notify_from }}"
        matomo_notify_reply_to: "{{ users_notify_reply_to }}"
        matomo_notify_subject_tag: "{{ users_notify_subject_tag }}"
        matomo_notify_headers: "{{ users_notify_headers }}"
        matomo_notify_signature: "{{ users_notify_signature }}"
        matomo_php: "/usr/bin/php{{ users_matomo_php_version }}"
      when:
        - users_matomo_php_version is defined
        - users_matomo_php_version is regex('^[0-9]{1,2}[.][0-9]{1,2}$')

  tags:
    - users
...
