# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
# Use ~/.ssh/authorized_keys.d/authorized_keys_* files to assemble
# ~/.ssh/authorized_keys and leave a ~/.ssh/README.md to explain
# what happened

- name: SSH key configuration
  block:

    - name: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/.ssh/authorized_keys.d directory present for {{ user.key }}"
      ansible.builtin.file:
        path: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/.ssh/authorized_keys.d"
        state: directory
        mode: "0700"
        owner: "{{ user.key }}"
        group: "{{ user.value.users_home_group | default(user.key) }}"
      register: user_ssh_authorized_keys_d

    - name: SSH key configuration when ~/.ssh/authorized_keys.d exists
      block:

        - name: "SSH keys present when ~/.ssh/authorized_keys.d exists for {{ user.key }}"
          ansible.builtin.include_tasks: ssh_keys.yml
          when:
            - user.value.users_ssh_public_keys is defined
            - user.value.users_ssh_public_keys != []

        - name: "SSH known hosts absent from ~/.ssh/known_hosts for {{ user.key }}"
          ansible.builtin.lineinfile:
            path: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/.ssh/knowd_hosts"
            state: absent
            line: "{{ users_ssh_known_host }}"
            mode: "0600"
            owner: "{{ user.key }}"
            group: "{{ user.value.users_home_group | default(user.key) }}"
          loop: "{{ users_ssh_known_hosts_absent }}"
          loop_control:
            loop_var: users_ssh_known_host
            label: "{{ users_ssh_known_host | ansible.builtin.regex_search('^.*[ ]') }}"
          when:
            - users_ssh_known_hosts_absent is defined
            - users_ssh_known_hosts_absent != []

        - name: "SSH known hosts present in ~/.ssh/known_hosts for {{ user.key }}"
          ansible.builtin.lineinfile:
            path: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/.ssh/knowd_hosts"
            state: present
            create: true
            line: "{{ users_ssh_known_host }}"
            regexp: "^{{ users_ssh_known_host | ansible.builtin.regex_search('^.*[ ]') | ansible.builtin.regex_escape }}"
            mode: "0600"
            owner: "{{ user.key }}"
            group: "{{ user.value.users_home_group | default(user.key) }}"
          loop: "{{ users_ssh_known_hosts_present }}"
          loop_control:
            loop_var: users_ssh_known_host
            label: "{{ users_ssh_known_host | ansible.builtin.regex_search('^.*[ ]') }}"
          when:
            - users_ssh_known_hosts_present is defined
            - users_ssh_known_hosts_present != []

        - name: "SSH ~/.ssh/README.md in place for {{ user.key }}"
          ansible.builtin.template:
            src: SSH_README.md.j2
            dest: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/.ssh/README.md"
            mode: "0600"
            owner: "{{ user.key }}"
            group: "{{ user.value.users_home_group | default(user.key) }}"

      when:
        - user_ssh_authorized_keys_d.state is defined
        - user_ssh_authorized_keys_d.state == "directory"

  tags:
    - users
...
