# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Skip the checks if the domain starts with an asterisk
  block:

    - name: Lookup IPv4 address in a block to enable alternative lookup on failure
      block:

        - name: "Lookup IPv4 address using community.general.dig for {{ users_domain }}"
          ansible.builtin.set_fact:
            users_domain_dig_query: "{{ query('community.general.dig', users_domain_dig_fqdn, fail_on_error=true, real_empty=true, retry_servfail=true) }}"
          vars:
            users_domain_dig_fqdn: "{{ users_domain }}."
          until:
            - users_domain_dig_query != []
            - users_domain_dig_query[0] is ansible.utils.ipv4
          retries: 10
          delay: 1

        - name: "Set a fact for the domain query result for {{ users_domain }}"
          ansible.builtin.set_fact:
            users_domain_dig_result: "{{ users_domain_dig_query[0] }}"

      rescue:

        - name: Debug users_domain_dig_query
          ansible.builtin.debug:
            var: users_domain_dig_query

        - name: "Lookup IPv4 address using dig on {{ inventory_hostname }} for {{ users_domain }}"
          ansible.builtin.command:
            cmd: "dig +short {{ users_domain }}"
          register: users_domain_dig_command

        - name: Debug users_domain_dig_command.stdout_lines
          ansible.builtin.debug:
            var: users_domain_dig_command.stdout_lines

        - name: "DNS lookup failed for {{ users_domain }}"
          ansible.builtin.fail:
            msg:
              - "The result from running: dig +short {{ users_domain }}"
              - "On {{ inventory_hostname }} was:"
              - "{{ users_domain_dig_command.stdout }}"
          when: >-
            (users_domain_dig_command.stdout_lines ==[]) or
            (users_domain_dig_command.stdout_lines[-1] is not ansible.utils.ipv4_address)

        - name: "Set a fact for the result from running dig +short {{ users_domain }}"
          ansible.builtin.set_fact:
            users_domain_dig_result: "{{ users_domain_dig_command.stdout_lines[-1] }}"
          when:
            - users_domain_dig_command.stdout_lines != []
            - users_domain_dig_command.stdout_lines[-1] is ansible.utils.ipv4_address

    - name: Debug domain name and IP address
      ansible.builtin.debug:
        msg:
          - "users_domain: {{ users_domain }}"
          - "ansible_default_ipv4.address: {{ ansible_facts.default_ipv4.address }}"
          - "ansible_all_ipv4_addresses: {{ ansible_facts.all_ipv4_addresses }}"
          - "users_domain_dig_result: {{ users_domain_dig_result }}"
          - "users_domain_check: {{ users_domain_check }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      when:
        - users_domain_check is defined
        - users_domain_dig_result is defined
      tags:
        - debug

    - name: "Warn if {{ users_domain }} which resolves to {{ users_domain_dig_result }} is not a IPv4 address"
      ansible.builtin.debug:
        msg: "{{ users_domain }} appears not to resolve to a IP address, the result was {{ users_domain_dig_result }}"
      when:
        - users_domain_dig_result is not ansible.utils.ipv4_address
        - (users_domain_checks is not defined) or (users_domain_check != "strict")

    - name: "Fail if {{ users_domain }} which resolves to {{ users_domain_dig_result }} is not a IPv4 address"
      ansible.builtin.fail:
        msg: "{{ users_domain }} appears not to resolve to a IP address"
      when:
        - users_domain_dig_result is not ansible.utils.ipv4_address
        - users_domain_check is defined
        - users_domain_check == "strict"

    - name: "Warn if {{ users_domain }} which resolves to {{ users_domain_dig_result }} doesn't resolve to an IP address assigned to this server"
      ansible.builtin.debug:
        msg: "{{ users_domain_dig_result }} not in {{ ansible_facts.all_ipv4_addresses }}"
      when:
        - users_domain_dig_result is defined
        - users_domain_dig_result not in ansible_facts.all_ipv4_addresses
        - (users_domain_check is not defined) or (users_domain_check is defined and users_domain_check != "strict")
        - (users_reverse_proxy is not defined) or (users_reverse_proxy != "cloudflare")
      tags:
        - debug

    - name: "Fail if {{ users_domain }} which resolves to {{ users_domain_dig_result }} doesn't resolve to an IP address assigned to this server"
      ansible.builtin.fail:
        msg: "{{ users_domain_dig_result }} not in {{ ansible_facts.all_ipv4_addresses }}"
      when:
        - users_domain_dig_result is defined
        - users_domain_dig_result not in ansible_facts.all_ipv4_addresses
        - users_domain_check is defined
        - users_domain_check == "strict"
        - (users_reverse_proxy is not defined) or (users_reverse_proxy != "cloudflare")

  when: users_domain is not regex('^[*][.].*$')
  tags:
    - users
...
