# Copyright 2018-2025 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: User absent
  block:

    - name: "Processes slayed for user {{ user.key }}"
      ansible.builtin.command: "slay {{ user.key }}"

    - name: "Nextcloud logrotate config absent for {{ user.key }}"
      ansible.builtin.file:
        path: "/etc/logrotate.d/nextcloud_{{ user.key }}"
        state: absent

    - name: "Crontab absent for user {{ user.key }}"
      ansible.builtin.include_tasks: crontab_user_absent.yml

    - name: Include Apache config absent tasks
      ansible.builtin.include_tasks: apache_user_absent.yml
      when:
        - ( "apache2" in ansible_facts.ansible_local.dpkg.installed )
        - users_apache is defined
        - users_apache | bool

    - name: Include MariaDB account and databases absent tasks
      ansible.builtin.include_tasks: mariadb_user_absent.yml
      when: ( users_mariadb is defined ) and ( users_mariadb )

    - name: Include PHP FPM user absent tasks
      ansible.builtin.include_tasks: phpfpm_user_absent.yml
      when:
        - users_phpfpm_versions is defined
        - users_phpfpm_default_version is defined

    - name: Include chroot user /etc/fstab entries absent tasks
      ansible.builtin.include_tasks: chroot_user_absent_fstab.yml

    - name: Include chroot user mounts absent tasks
      ansible.builtin.include_tasks: chroot_user_absent.yml

    - name: "Home directory absent for {{ user.key }}"
      ansible.builtin.file:
        path: "{{ user.value.users_home | default(users_basedir + '/' + user.key) }}"
        state: absent

    - name: "User account absent for {{ user.key }}"
      ansible.builtin.user:
        name: "{{ user.key }}"
        state: absent
        remove: true
        force: true

    - name: "User group absent for {{ user.key }}"
      ansible.builtin.group:
        name: "{{ user.key }}"
        state: absent

    - name: Users state files updated
      ansible.builtin.include_tasks: user_updated.yml

  tags:
    - users
...
