# Copyright 2018-2026 Chris Croome
#
# This file is part of the Webarchitects Users Ansible role.
#
# The Webarchitects Users Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Users Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects Users Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Validate Apache VirtualHost variables
  block:

    - name: "Debug the VirtualServer's variables for {{ user.key }}"
      ansible.builtin.debug:
        var: vhost
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      loop: "{{ user.value.users_apache_virtual_hosts | dict2items }}"
      loop_control:
        loop_var: vhost
        label: "{{ vhost.key }}"
      tags:
        - debug

    - name: Check that users_apache_proxy_pass is not defined
      ansible.builtin.assert:
        that:
          - vhost.value.users_apache_proxy_pass is not defined
        quiet: "{% if ansible_verbosity == 0 %}true{% else %}false{% endif %}"
        fail_msg: "The users_apache_proxy_pass variables should be renamed to users_apache_proxy."
      loop: "{{ user.value.users_apache_virtual_hosts | dict2items }}"
      loop_control:
        loop_var: vhost
        label: "{{ vhost.key }}"

    - name: "Check users_apache_virtual_hosts variables using meta/apache_virtual_host_argument_specs.yml for {{ user.key }}"
      ansible.builtin.validate_argument_spec:
        argument_spec: "{{ lookup('ansible.builtin.file', 'meta/apache_virtual_host_argument_specs.yml') | from_yaml }}"
        provided_arguments: "{{ vhost.value }}"
      loop: "{{ user.value.users_apache_virtual_hosts | dict2items }}"
      loop_control:
        loop_var: vhost
        label: "{{ vhost.key }}"
      when: users_verify | bool

    - name: "Skipped check users_apache_virtual_hosts variables using meta/apache_virtual_host_argument_specs.yml for {{ user.key }}"
      ansible.builtin.debug:
        msg: >-
          The users_verify variable is false so the meta/apache_virtual_host_argument_specs.yml argument spec checks for {{ user.key }}
          have been skipped."
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      when: not users_verify | bool
      tags:
        - debug

    - name: "Debug the VirtualServer's users_apache_directories dictionaries for {{ user.key }}"
      ansible.builtin.debug:
        var: vhost.value.users_apache_directories
        verbosity: 2
      when:
        - vhost.value.users_apache_directories is defined
        - vhost.value.users_apache_directories | length > 0
      loop: "{{ user.value.users_apache_virtual_hosts | dict2items }}"
      loop_control:
        loop_var: vhost
        label: "{{ vhost.key }}"
      tags:
        - debug

    - name: "Check users_apache_directories variables using meta/apache_directories_argument_specs.yml for {{ user.key }}"
      ansible.builtin.include_tasks: validate_vhost_dirs.yml
      when:
        - users_verify | bool
        - vhost.value.users_apache_directories is defined
        - vhost.value.users_apache_directories | length > 0
      loop: "{{ user.value.users_apache_virtual_hosts | dict2items }}"
      loop_control:
        loop_var: vhost
        label: "{{ vhost.key }}"

    - name: "Skipped check users_apache_directories variables using meta/apache_directories_argument_specs.yml for {{ user.key }}"
      ansible.builtin.debug:
        msg: >-
          The users_verify variable is false so the meta/apache_directories_argument_specs.yml argument spec checks for {{ user.key }}
          have been skipped."
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      when: not users_verify | bool
      tags:
        - debug

  # rescue:

  #   - name: There was a failure validating the arg spec
  #     ansible.builtin.debug:
  #       msg: "The users role meta/apache_virtual_host_argument_specs.yml vaildating failed for the user {{ user.key }}"

  tags:
    - users
...
