# Ansible provisioned
#
# item.value.users_apache_virtual_hosts: {{ item.value.users_apache_virtual_hosts }}
#
# {% for vhost in item.value.users_apache_virtual_hosts %}
#   {{ vhost }}
#   users_apache_template: {{ vhost.users_apache_template }}
#   users_apache_server_name: {{ vhost.users_apache_server_name }}
#   {% include 'templates/apache' + vhost + '.j2' %}
#
# {% endfor %}
