# Ansible provisioned
{% for vhost,vhost_config in item.value.users_apache_virtual_hosts.items() %}

# {{ vhost }}
<VirtualHost *:80>
  ServerName {{ vhost_config.users_apache_server_name }}
{% if vhost_config.users_apache_server_aliases is defined %}
  ServerAlias{% for alias in vhost_config.users_apache_server_aliases %} {{ alias }}{% endfor %}
{% endif %}

  RedirectMatch 301 ^(?!/\.well-known/acme-challenge/).* https://{{ vhost_config.users_apache_server_name }}$0
</VirtualHost>

<VirtualHost *:443>
{% if apache_mods_enabled is defined and "suexec" in apache_mods_enabled %}
<IfModule suexec_module>
  SuexecUserGroup {{ item.key }} {{ item.key }}
</IfModule>
{% endif %}
{% if apache_mods_enabled is defined and "mpm_itk" in apache_mods_enabled %}
<IfModule mpm_itk_module>
  AssignUserID {{ item.key }}
  MaxClientsVHost {{ apache_mpm_itk_max_clients_vhost | default('50') }}
</IfModule>
{% endif %}

  ServerName {{ vhost_config.users_apache_server_name }}
{% if vhost_config.users_apache_server_aliases is defined %}
  ServerAlias{% for alias in vhost_config.users_apache_server_aliases %} {{ alias }}{% endfor %}
{% endif %}

{% if users_cert is defined %}
  SSLEngine on
{% if users_cert == "user" %}
  SSLCertificateFile            {{ le_dir }}/{{ item.key }}.{{ inventory_hostname }}.cert.pem
  SSLCertificateKeyFile         {{ le_dir }}/{{ item.key }}.{{ inventory_hostname }}.key.pem
  SSLCertificateChainFile       {{ le_dir }}/{{ item.key }}.{{ inventory_hostname }}.ca.pem
{% endif %}
{% if users_cert == "vhost" %}
  SSLCertificateFile            {{ le_dir }}/{{ vhost_config.users_apache_server_name }}.cert.pem
  SSLCertificateKeyFile         {{ le_dir }}/{{ vhost_config.users_apache_server_name }}.key.pem
  SSLCertificateChainFile       {{ le_dir }}/{{ vhost_config.users_apache_server_name }}.ca.pem
{% endif %}
{% endif %}

{% if item.value.users_email is defined and item.value.users_email != "" %}
  ServerAdmin "{{ item.value.users_email }}"
{% endif %}
  DocumentRoot "{{ item.value.users_home | default(users_basedir + '/' + item.key) }}/{{ users_sites_dir }}/{{ vhost }}"
  <Directory "{{ item.value.users_home | default(users_basedir + '/' + item.key) }}/{{ users_sites_dir }}/{{ vhost }}">
{% if vhost_config.users_apache_type is defined and vhost_config.users_apache_type == "php" %}
    Options -Indexes +SymlinksIfOwnerMatch -MultiViews +IncludesNOEXEC -ExecCGI
    DirectoryIndex index.php index.html index.shtml index.htm index.xhtml wsh.shtml
    AllowOverride AuthConfig FileInfo Indexes Limit Options=Indexes,SymLinksIfOwnerMatch,MultiViews,IncludesNOEXEC Nonfatal=Override
    # https://wiki.apache.org/httpd/PHP-FPM#Proxy_via_handler
    <IfModule proxy_fcgi_module>
      <IfModule setenvif_module>
        SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
      </IfModule>
      <FilesMatch "\.php$">
        <If "-f %{REQUEST_FILENAME}">
{% if "chroot" not in item.value.users_groups %}
          SetHandler "proxy:unix:/run/php/php{{ users_phpfpm_version }}-fpm.sock|fcgi://localhost/"

{% else %}
          # SetHandler "proxy:unix:{{ item.value.users_home | default(users_basedir + '/' + item.key) }}/php-fpm.sock|fcgi://localhost/"
          SetHandler "proxy:unix:{{ chroot_users_dir | default('/chroot-users') }}/{{ item.key }}{{ item.value.users_home | default(users_basedir + '/' + item.key) }}/php-fpm.sock|fcgi://localhost/"
{% endif %}
        </If>
      </FilesMatch>
    </IfModule>
{% elif vhost_config.users_apache_type is defined and vhost_config.users_apache_type == "cgi" %}
    Options -Indexes +SymlinksIfOwnerMatch -MultiViews +IncludesNOEXEC +ExecCGI
    DirectoryIndex index.html index.php index.shtml index.xhtml index.cgi index.pl index.htm wsh.shtml
    AllowOverride AuthConfig FileInfo Indexes Limit Options=ExecCGI,SymLinksIfOwnerMatch,MultiViews,IncludesNOEXEC Nonfatal=Override
    <IfModule fcgid_module>
      <IfModule mime_module>
        <FilesMatch "[^.]+\.cgi$">
          SetHandler fcgid-script
        </FilesMatch>
        <FilesMatch "[^.]+\.pl$">
          SetHandler fcgid-script
        </FilesMatch>
      </IfModule>
    </IfModule>
{% else %}
    Options -Indexes +SymlinksIfOwnerMatch -MultiViews +IncludesNOEXEC -ExecCGI
    DirectoryIndex index.html index.shtml index.htm index.xhtml wsh.shtml
    AllowOverride AuthConfig FileInfo Indexes Limit Options=Indexes,SymLinksIfOwnerMatch,MultiViews,IncludesNOEXEC Nonfatal=Override
{% endif %}
    Require all granted
{%if vhost_config.users_apache_expires is defined and vhost_config.users_apache_expires == "medium" %}
    <IfModule mod_expires.c>
      # Based on the list here
      # https://w3reign.com/list-common-file-types-mime-types-expire-headers/
      ExpiresActive on
      # DATA
      ExpiresByType text/xml                            "access plus 0 seconds"
      ExpiresByType text/html                           "access plus 0 seconds"
      ExpiresByType text/plain                          "access plus 0 seconds"
      ExpiresByType application/xml                     "access plus 0 seconds"
      ExpiresByType application/json                    "access plus 0 seconds"
      ExpiresByType application/rss+xml                 "access plus 5 minutes"
      ExpiresByType application/atom+xml                "access plus 5 minutes"
      ExpiresByType text/x-component                    "access plus 5 minutes"
      # MANIFEST
      ExpiresByType application/x-web-app-manifest+json "access plus 0 seconds"
      ExpiresByType text/cache-manifest                 "access plus 0 seconds"
      # SCRIPTS
      ExpiresByType text/css                            "access plus 1 week" 
      ExpiresByType text/javascript                     "access plus 1 week" 
      ExpiresByType application/javascript              "access plus 1 week" 
      ExpiresByType application/x-javascript            "access plus 1 week" 
      # IMAGES
      ExpiresByType image/gif                           "access plus 1 month"
      ExpiresByType image/png                           "access plus 1 month"
      ExpiresByType image/jpe                           "access plus 1 month"
      ExpiresByType image/jpg                           "access plus 1 month"
      ExpiresByType image/jpeg                          "access plus 1 month"
      ExpiresByType image/jp2                           "access plus 1 month"
      ExpiresByType image/pipeg                         "access plus 1 month"
      ExpiresByType image/bmp                           "access plus 1 month"
      ExpiresByType image/tiff                          "access plus 1 month"
      ExpiresByType image/svg+xml                       "access plus 1 month"
      ExpiresByType image/vnd.microsoft.icon            "access plus 1 month"
      # ICONS
      ExpiresByType image/ico                           "access plus 1 month"
      ExpiresByType image/icon                          "access plus 1 month"
      ExpiresByType text/ico                            "access plus 1 month"
      ExpiresByType image/x-ico                         "access plus 1 month"
      ExpiresByType image/x-icon                        "access plus 1 month"
      ExpiresByType application/ico                     "access plus 1 month"
      # AUDIO
      ExpiresByType audio/ogg                           "access plus 1 month"
      ExpiresByType audio/basic                         "access plus 1 month"
      ExpiresByType audio/mid                           "access plus 1 month"
      ExpiresByType audio/midi                          "access plus 1 month"
      ExpiresByType audio/mpeg                          "access plus 1 month"
      ExpiresByType audio/x-aiff                        "access plus 1 month"
      ExpiresByType audio/x-mpegurl                     "access plus 1 month"
      ExpiresByType audio/x-pn-realaudio                "access plus 1 month"
      ExpiresByType audio/x-wav                         "access plus 1 month"
      # VIDEO
      ExpiresByType video/ogg                           "access plus 1 month"
      ExpiresByType video/mp4                           "access plus 1 month"
      ExpiresByType video/webm                          "access plus 1 month"
      ExpiresByType video/x-msvideo                     "access plus 1 month"
      ExpiresByType video/mpeg                          "access plus 1 month"
      ExpiresByType video/quicktime                     "access plus 1 month"
      ExpiresByType video/x-la-asf                      "access plus 1 month"
      ExpiresByType video/x-ms-asf                      "access plus 1 month"
      ExpiresByType x-world/x-vrml                      "access plus 1 month"
      # FONTS
      ExpiresByType font/truetype                       "access plus 1 month"
      ExpiresByType font/opentype                       "access plus 1 month"
      ExpiresByType application/x-font-ttf              "access plus 1 month"
      ExpiresByType application/x-font-woff             "access plus 1 month"
      ExpiresByType application/font-woff               "access plus 1 month"
      ExpiresByType application/vnd.ms-fontobject       "access plus 1 month"
      # FLASH
      ExpiresByType application/x-shockwave-flash       "access plus 1 month"
      ExpiresByType video/x-flv                         "access plus 1 month"
      # OTHERS
      ExpiresByType application/pdf                     "access plus 1 month"
      ExpiresByType image/vnd.wap.wbmp                  "access plus 1 month"
      ExpiresByType application/vnd.wap.wbxml           "access plus 1 month"
    </IfModule>
{%elif vhost_config.users_apache_expires is defined and vhost_config.users_apache_expires == "strict" %}
    <IfModule mod_expires.c>
      # Based on the list here
      # https://w3reign.com/list-common-file-types-mime-types-expire-headers/
      ExpiresActive on
      ExpiresDefault                                    "access plus 1 month"
      # DATA
      ExpiresByType text/xml                            "access plus 1 hour"
      ExpiresByType text/html                           "access plus 1 hour"
      ExpiresByType text/plain                          "access plus 1 hour"
      ExpiresByType application/xml                     "access plus 1 hour"
      ExpiresByType application/json                    "access plus 1 hour"
      ExpiresByType application/rss+xml                 "access plus 1 hour"
      ExpiresByType application/atom+xml                "access plus 1 hour"
      ExpiresByType text/x-component                    "access plus 1 hour"
      # MANIFEST
      ExpiresByType application/x-web-app-manifest+json "access plus 1 hour"
      ExpiresByType text/cache-manifest                 "access plus 1 hour"
      # SCRIPTS
      ExpiresByType text/css                            "access plus 1 month" 
      ExpiresByType text/javascript                     "access plus 1 month" 
      ExpiresByType application/javascript              "access plus 1 month" 
      ExpiresByType application/x-javascript            "access plus 1 month" 
      # IMAGES
      ExpiresByType image/gif                           "access plus 6 months"
      ExpiresByType image/png                           "access plus 6 months"
      ExpiresByType image/jpe                           "access plus 6 months"
      ExpiresByType image/jpg                           "access plus 6 months"
      ExpiresByType image/jpeg                          "access plus 6 months"
      ExpiresByType image/jp2                           "access plus 6 months"
      ExpiresByType image/pipeg                         "access plus 6 months"
      ExpiresByType image/bmp                           "access plus 6 months"
      ExpiresByType image/tiff                          "access plus 6 months"
      ExpiresByType image/svg+xml                       "access plus 6 months"
      ExpiresByType image/vnd.microsoft.icon            "access plus 6 months"
      # ICONS
      ExpiresByType image/ico                           "access plus 6 months"
      ExpiresByType image/icon                          "access plus 6 months"
      ExpiresByType text/ico                            "access plus 6 months"
      ExpiresByType image/x-ico                         "access plus 6 months"
      ExpiresByType image/x-icon                        "access plus 6 months"
      ExpiresByType application/ico                     "access plus 6 months"
      # AUDIO
      ExpiresByType audio/ogg                           "access plus 6 months"
      ExpiresByType audio/basic                         "access plus 6 months"
      ExpiresByType audio/mid                           "access plus 6 months"
      ExpiresByType audio/midi                          "access plus 6 months"
      ExpiresByType audio/mpeg                          "access plus 6 months"
      ExpiresByType audio/x-aiff                        "access plus 6 months"
      ExpiresByType audio/x-mpegurl                     "access plus 6 months"
      ExpiresByType audio/x-pn-realaudio                "access plus 6 months"
      ExpiresByType audio/x-wav                         "access plus 6 months"
      # VIDEO
      ExpiresByType video/ogg                           "access plus 6 months"
      ExpiresByType video/mp4                           "access plus 6 months"
      ExpiresByType video/webm                          "access plus 6 months"
      ExpiresByType video/x-msvideo                     "access plus 6 months"
      ExpiresByType video/mpeg                          "access plus 6 months"
      ExpiresByType video/quicktime                     "access plus 6 months"
      ExpiresByType video/x-la-asf                      "access plus 6 months"
      ExpiresByType video/x-ms-asf                      "access plus 6 months"
      ExpiresByType x-world/x-vrml                      "access plus 6 months"
      # FONTS
      ExpiresByType font/truetype                       "access plus 6 months"
      ExpiresByType font/opentype                       "access plus 6 months"
      ExpiresByType application/x-font-ttf              "access plus 6 months"
      ExpiresByType application/x-font-woff             "access plus 6 months"
      ExpiresByType application/font-woff               "access plus 6 months"
      ExpiresByType application/vnd.ms-fontobject       "access plus 6 months"
      # FLASH
      ExpiresByType application/x-shockwave-flash       "access plus 6 months"
      ExpiresByType video/x-flv                         "access plus 6 months"
      # OTHERS
      ExpiresByType application/pdf                     "access plus 6 months"
      ExpiresByType image/vnd.wap.wbmp                  "access plus 6 months"
      ExpiresByType application/vnd.wap.wbxml           "access plus 6 months"
      ExpiresByType application/smil                    "access plus 6 months"
      <IfModule mod_headers.c>
        Header append Cache-Control "public"
      </IfModule>
    </IfModule>
{% endif %}
{% if vhost_config.users_apache_robots is defined and vhost_config.users_apache_robots == "deny" %}
    # Deny robots
    Header set X-Robots-Tag "noindex"
    <IfModule mod_rewrite.c>
      # https://docs.phpmyadmin.net/en/latest/faq.html#faq1-42
      RewriteCond %{REQUEST_METHOD} !^(GET|POST)$ [NC,OR]
      RewriteCond %{HTTP_USER_AGENT} ^(java|curl|wget).* [NC,OR]
      RewriteCond %{HTTP_USER_AGENT} ^.*(libwww-perl|curl|wget|python|nikto|wkito|pikto|scan|acunetix).* [NC,OR]
      RewriteCond %{HTTP_USER_AGENT} ^.*(winhttp|HTTrack|clshttp|archiver|loader|email|harvest|extract|grab|miner).* [NC,OR]
      RewriteCond %{HTTP_USER_AGENT} ^.*(AdsBot-Google|ia_archiver|Scooter|Ask.Jeeves|Baiduspider|Exabot|FAST.Enterprise.Crawler|FAST-WebCrawler|www\.neomo\.de|Gigabot|Mediapartners-Google|Google.Desktop|Feedfetcher-Google|Googlebot|heise-IT-Markt-Crawler|heritrix|ibm.com\cs/crawler|ICCrawler|ichiro|MJ12bot|MetagerBot|msnbot-NewsBlogs|msnbot|msnbot-media|NG-Search|lucene.apache.org|NutchCVS|OmniExplorer_Bot|online.link.validator|psbot0|Seekbot|Sensis.Web.Crawler|SEO.search.Crawler|Seoma.\[SEO.Crawler\]|SEOsearch|Snappy|www.urltrends.com|www.tkl.iis.u-tokyo.ac.jp/~crawler|SynooBot|crawleradmin.t-info@telekom.de|TurnitinBot|voyager|W3.SiteSearch.Crawler|W3C-checklink|W3C_Validator|www.WISEnutbot.com|yacybot|Yahoo-MMCrawler|Yahoo\!.DE.Slurp|Yahoo\!.Slurp|YahooSeeker).* [NC]
      RewriteRule .* - [F]
    </IfModule>
{% endif %}
  </Directory>
  CustomLog /var/log/apache2/{{ item.key }}_access.log bandwidth
  LogLevel error
  ErrorLog  {{ item.value.users_home | default(users_basedir + '/' + item.key) }}/logs/apache.error.log
  CustomLog {{ item.value.users_home | default(users_basedir + '/' + item.key) }}/logs/apache.access.log combinedio
</VirtualHost>
{% endfor %}

# vim: set ft=apache:
