# Ansible provisioned
#
# item.value.users_apache_virtual_hosts: {{ item.value.users_apache_virtual_hosts }}

{% for virtual_host in item.value.users_apache_virtual_hosts %}
#   {{ virtual_host }}
{% endfor %}
