# {{ ansible_managed }}

<Location /phpfpm-{{ user.key }}-status>
  SetHandler "proxy:unix:/users/{{ user.key }}{{ users_basedir }}/{{ user.key }}/php-fpm.sock|fcgi://localhost/"
  Require host localhost 127.0.0.1 ::1
</Location>

# vim: syntax=apache:
