# {{ ansible_managed }}

<Location /phpfpm-{{ user.key }}-status>
  SetHandler "proxy:unix:{{ users_phpfpm_apache_socket }}|fcgi://localhost/"
  Require local
</Location>

# vim: syntax=apache{# vim: syntax=jinja2 #}
