# {{ ansible_managed

[user]
        name = {{ user.value.users_name }} 
        email = {{ user.value.users_email }}

[push]
        default = simple

[transfer]
        fsckobjects = true

# vim: syntax=gitconfig
