set tmpdir="~/tmp"
set folder="~/.mutt"
set record="+sent"
set sendmail="/usr/sbin/sendmail"
set hostname="{{ inventory_hostname }}"
{% if item.value.users_email is defined %}
set from="{% if item.value.users_name is defined %}{{ item.value.users_name }}{% endif %} <{{ item.value.users_email }}>"
{% endif %}
