# {{ ansible_managed }}
set tmpdir="~/tmp"
set folder="~/.mutt"
set postponed="~/.mutt/drafts"
set record="+sent"
# The sendmail configuration below can be commented and the four commented lines after it
# uncommented in order to send unauthenticated email via SMTP on localhost:25 via Mutt
{% if user.value.users_phpfpm_sendmail_path is defined and user.value.users_phpfpm_sendmail_from is defined %}
set sendmail="{{ user.value.users_phpfpm_sendmail_path }} -f{{ user.value.users_phpfpm_sendmail_from }}"
{% elif user.value.users_phpfpm_sendmail_path is defined and user.value.users_phpfpm_sendmail_from is not defined %}
set sendmail="{{ user.value.users_phpfpm_sendmail_path }} -f{{ user.key }}@{{ inventory_hostname }}"
{% elif user.value.users_phpfpm_sendmail_path is not defined and user.value.users_phpfpm_sendmail_from is defined %}
set sendmail="/usr/sbin/sendmail -f{{ user.value.users_phpfpm_sendmail_from }}"
{% else %}
set sendmail="/usr/sbin/sendmail -f{{ user.key }}@{{ inventory_hostname }}"
{% endif %}
# set smtp_url=smtp://localhost:25/
# set ssl_starttls=no
# set ssl_force_tls=no
set hostname="{{ inventory_hostname }}"
{% if user.value.users_phpfpm_sendmail_from is defined %}
set from="{% if user.value.users_name is defined %}{{ user.value.users_name }} {% endif %}<{{ user.value.users_phpfpm_sendmail_from }}>"
{% else %}
set from="{% if user.value.users_name is defined %}{{ user.value.users_name }} {% endif %}<{{ user.key }}@{{ inventory_hostname }}>"
{% endif %}
