# {{ ansible_managed }}

location /phpfpm-{{ user.key }}-status {
  include fastcgi.conf;
{% if users_chroot is defined and users_chroot | bool and users_chroot_dir is defined and users_chroot_dir_check.stat.exists | bool and user.value.users_groups is defined and "chroot" in user.value.users_groups %}
  fastcgi_pass unix:{{ users_chroot_users_dir }}/{{ user.key }}{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/php-fpm.sock
{% else %}
  fastcgi_pass unix:{{ user.value.users_home | default(users_basedir + '/' + user.key) }}/php-fpm.sock
{% endif %}
  allow 127.0.0.1;
  deny all;
}

# vim: syntax=nginx{# vim: syntax=jinja2 #}
