Hi {{ user.value.users_name | default(user.key) }}

Your MariaDB account and database details for {{ inventory_hostname }}:

  Username:     {{ user.key }}
  Password:     {{ users_mariadb_password }}
  Server:       localhost
  Port:         3306
  Database(s):  {{ user.value.users_mariadb_databases | join(' ') }}


{% if ssh_allow_tcp_forwarding is defined and ssh_allow_tcp_forwarding == "yes" %}
Note that there is no direct external access to the database, however
you can use a SSH tunnel, see https://docs.webarch.net/wiki/MySQL.
{% elif ssh_allow_tcp_forwarding is not defined or ssh_allow_tcp_forwarding == "no" %}
Note that there is no direct external access to the database.
{% endif %}

{% if phpmyadmin_user is defined and phpmyadmin_domain is defined %}
The {{ inventory_hostname }} server has phpMyAdmin installed, you can
use this web interface to the database at this URL with the username
and password provided above:

  URL:          https://{{ phpmyadmin_domain }}/
{% endif %}

All the best

{{ users_notify_reply_to }}

-- 
{% if users_notify_signature is defined %}
{{ users_notify_signature }}
{% endif %}
