Hi {{ item.value.users_name | default(item.key) }}

Your SFTP / SSH account details for {{ ansible_fqdn }}:

  Username:	{{ item.key }}
  Password:	{{ users_passwd.stdout }}
  Server:	{{ ansible_fqdn }}
  Port:		22

All the best

{{ users_notify_passwd_from | default('Webarchitects') }}

-- 
{{ users_email_signature | default('Webarch Co-operative Limited\nhttps://www.webarch.coop/') }}
