Hi {{ item.value.users_name | default(item.key) }}

Your MariaDB account and database details for {{ inventory_hostname }}:

  Username:	{{ item.key }}
  Password:	{{ users_mariadb_password }}
  Server:	localhost
  Port:		3306
  Database(s):	{% for d in item.value.users_mariadb_databases %}{{ d }} {% endfor %}


Note that there is no direct external access to the database.

All the best

{{ users_notify_reply_to }}

-- 
{{ users_notify_signature | default('Webarch Co-operative Limited\nhttps://www.webarch.coop/') }}
