# {# j2lint: disable=jinja-statements-no-tabs #}{{ ansible_managed }}

{{ users_basedir }}/{{ user.key }}/logs/php-fpm*log {
        daily
        rotate 28
        missingok
        notifempty
        compress
        delaycompress
        create 600 {{ user.key }} {{ user.value.users_group | default(user.key) }}
        dateext
        sharedscripts
        prerotate
		if [ -e {{ users_basedir }}/{{ user.key }}/logs/php-fpm*log ]
		then
               		chmod 600 {{ users_basedir }}/{{ user.key }}/logs/php-fpm*log
               		chown {{ user.key }}:{{ user.value.users_group | default(user.key) }} {{ users_basedir }}/{{ user.key }}/logs/php-fpm*log
		fi
        endscript
        postrotate
                /usr/lib/php/php{{ users_phpfpm_version }}-fpm-reopenlogs
		if [ -e {{ users_basedir }}/{{ user.key }}/logs/php-fpm*log ]
		then
                	chmod 600 {{ users_basedir }}/{{ user.key }}/logs/php-fpm*log
                	chown {{ user.key }}:{{ user.value.users_group | default(user.key) }} {{ users_basedir }}/{{ user.key }}/logs/php-fpm*log
		fi
		if [ -e {{ users_basedir }}/{{ user.key }}/logs/php-fpm*gz ]
		then
                	chown {{ user.key }}:{{ user.value.users_group | default(user.key) }} {{ users_basedir }}/{{ user.key }}/logs/php-fpm*gz
                	chmod 600 {{ users_basedir }}/{{ user.key }}/logs/php-fpm*gz
		fi
        endscript
}
