# Ansible managed file

[Unit]
Description=Create chroot users bind mounts

[Service]
User=root
Group=root
ExecStartPre=/usr/bin/install -m 755 -o mysql -g root -d /run/mysqld
ExecStartPre=/usr/bin/install -m 755 -o root -g root -d /run/chroot
ExecStart=/usr/local/bin/chroot-users-mounts

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
